<app-header></app-header>

<!-- [ Main Content ] start -->
<div class="pc-container">
  <div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Multicom</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">Home</li>
              <li class="breadcrumb-item">Clients</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="row">
      <!-- customar project  start -->
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center m-l-0">
              <div class="col-sm-6">
              </div>
              <div class="col-sm-6 text-end">
                <button class="btn btn-success btn-sm mb-3 btn-round" (click)="open()"><i class="feather icon-user-plus"></i> Ajouter Client</button>
              </div>
            </div>
            <div class="table-responsive">
              <table id="report-table" class="table table-bordered table-striped mb-0">
                <thead  style="text-align: center;">
                  <tr>
                    <th>Logo</th>
                    <th>Client</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Options</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of this.listClient " style="text-align: center;">
                  <tr >
                    <td>
                      <img src="./../../assets/logo_client/{{item.logo}}" class="img-fluid img-radius wid-40" alt="">
                    </td>
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td>
                      <a [routerLink]="['/client', item.id_client]" class="btn btn-success btn-sm m-r-10" ><i class="feather icon-eye"></i>&nbsp;Voir </a>
                      <!-- <a routerLink='/client' class="btn btn-success btn-sm m-r-10"><i class="feather icon-eye"></i>&nbsp;Voir </a> -->
                      <a  class="btn btn-info btn-sm m-r-10"  (click)="openUpdate(item)"><i class="feather icon-edit"></i>&nbsp;Éditer </a>
                      <a  class="btn btn-danger btn-sm m-r-10" (click)="openDelete(item.id_client)"><i class="feather icon-trash-2" ></i>&nbsp;Effacer </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- customar project  end -->
    </div>
    <!-- [ Main Content ] end -->
  </div>
</div>



<!-- update  -->



<!-- dellet -->

