<app-header></app-header>

<!-- [ Main Content ] start -->
<div class="pc-container">
  <div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Multicom</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">Home</li>
              <li class="breadcrumb-item">Dashboard</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="row">
      <!-- visitors  start -->
      <div class="col-sm-4">
        <div class="card bg-primary text-white widget-visitor-card">
          <div class="card-body text-center">
            <h2 class="text-white">58</h2>
            <h6 class="text-white">Clients</h6>
            <i class="feather icon-users"></i>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card bg-success text-white widget-visitor-card">
          <div class="card-body text-center">
            <h2 class="text-white">14</h2>
            <h6 class="text-white">Contrats</h6>
            <i class="feather icon-file-text"></i>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card bg-danger text-white widget-visitor-card">
          <div class="card-body text-center">
            <h2 class="text-white">26</h2>
            <h6 class="text-white">Devis</h6>
            <i class="feather icon-file"></i>
          </div>
        </div>
      </div>


      <!-- progressbar static data end -->
    </div>
    <!-- [ Main Content ] end -->
  </div>
</div>
